.title {
  width: auto;
  margin: 0px;
  padding: 0px;
  text-align: center;
  font: 36px arial, sans-serif;
  overflow: hidden;
}
.subtitle {
  width: auto;
  margin: 0px;
  padding: 0px;
  text-align: center;
  font: 24px arial, sans-serif;
  overflow: hidden;
}
.centre_tile {
  width: 375px;
}
.map_marker {
  margin: -14px -14px;
  text-align: center;
  font-size: 18px;
  text-shadow: 0 0 2px #000;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  box-shadow: 1px 1px 2px #000;
  color: #eee;
  background: inherit;
}
.RGYlight_mini {
  margin: 2px;
  text-align: center;
  font-size: 14px;
  text-shadow: 0 0 2px #000;
  display: inline-block;
  width: 26px;
  height: 26px;
  line-height: 26px;
  border-radius: 50%;
  box-shadow: 1px 1px 2px #000;
  color: #eee;
  background: inherit;
}
.RGYlight_main {
  margin: 2px;
  text-align: center;
  font-size: 24px;
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  box-shadow: 1px 1px 2px;
  color: #000;
}
.RGYlight_G {
  background: #3f0;
}
.RGYlight_R {
  background: #f30;
}
.prop_label {
  font-size: 12px;
  color: #000;
  text-align: right;
}
.prop_value {
  font-size: 12px;
  color: #08e;
  text-align: right;
}
.overall_footer {
  font-size: 16px;
  color: #888;
  text-align: right;
}
.status_caption {
  font-size: 10px;
  color: #444;
  text-align: center;
}
.contact_info {
  font-size: 16px;
  color: #888;
  text-align: left;
}
.btn-close:hover {
  cursor: pointer;
  cursor: hand;
}
a {
  color: #000;
}
a:link {
  color: #000;
}
a:hover {
  color: #000;
}
a:visited {
  color: #000;
}
table.format_grid {
  width: 100%;
  background-color: transparent;
}
header {
  width: 100%;
  position: fixed;
  top: 0px;
}
footer {
  width: 100%;
  position: fixed;
  bottom: 0px;
}
