RGYlight_size = 30px


.sheet_frame
  position	relative
  margin	0px
  padding	0px
  width		100%
  border	1px solid #999999
  background-color	#EEE
  text-align	center
  overflow	hidden

.sheet_title
  margin	5px
  padding	15px
  display	inline-block
  width		100%
  height	100%
  line-height	RGYlight_size
  font-size	32px
  color		#000
  text-align	left
  background	linear-gradient(to right, #ACD, #EEE)
  background	rgba(179,220,237,1)
  background	-moz-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%)
  background	-webkit-gradient(left top, left bottom, color-stop(0%, rgba(179,220,237,1)), color-stop(50%, rgba(41,184,229,1)), color-stop(100%, rgba(188,224,238,1)))
  background	-webkit-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%)
  background	-o-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%)
  background	-ms-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%)
  background	linear-gradient(to bottom, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%)

.sheet_title:hover
  color		#0AE

.group_frame
  position	relative
  margin	5px
  padding	1px
  border	1px solid #999999
  background-color	#ACD
  text-align	center

.RGYlight
  margin	2px
  text-align	center
  font-size	20px
  display	inline-block
  width		RGYlight_size
  height	RGYlight_size
  line-height	RGYlight_size
  border-radius	50%
  box-shadow	1px 1px 2px
  color		#000

.RGYlight_green
  background	#0F0

.RGYlight_red
  background	#F00

a
  color: #00B7FF

footer
  width 500px
  margin 50px auto
  boder-top 1px dotted #CCC
  padding-top 5px
  font-size 13px

